In [1]:
#Import general lib

import pandas as pd
import numpy as np

In [2]:
#Reading training data
data = pd.read_csv(r"C:\Users\Shelvi Garg\Desktop\Code\data-science\JOBATHON 1\TRAIN.csv")

In [3]:
data.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [4]:
#exploring column names
data.columns

Index(['ID', 'City_Code', 'Region_Code', 'Accomodation_Type',
       'Reco_Insurance_Type', 'Upper_Age', 'Lower_Age', 'Is_Spouse',
       'Health Indicator', 'Holding_Policy_Duration', 'Holding_Policy_Type',
       'Reco_Policy_Cat', 'Reco_Policy_Premium', 'Response'],
      dtype='object')

In [5]:
data.shape

(50882, 14)

In [15]:
#processing the data: replacing NaN values with most frequent values in respective columns

for i in range(14):
     (data.iloc[:,i]).fillna(data.iloc[:,i].mode().iloc[0],inplace=True)

print(data)

       index     ID  City_Code  Region_Code  Accomodation_Type  \
0          0      1         22         3213                  1
1          1      2         31         1117                  0
2          2      3         31         3732                  0
3          3      4         16         4378                  0
4          4      5         34         2190                  1
...      ...    ...        ...          ...                ...
50877  50877  50878         30          845                  1
50878  50878  50879         31         4188                  1
50879  50879  50880          0          442                  1
50880  50880  50881          0            4                  0
50881  50881  50882         22         3866                  1

       Reco_Insurance_Type  Upper_Age  Lower_Age  Is_Spouse  Health Indicator  \
0                        0         36         36          0               1.0
1                        1         75         22          0               2.0
2                        0         32         32          0               1.0
3                        1         52         48          0               1.0
4                        0         44         44          0               2.0
...                    ...        ...        ...        ...               ...
50877                    0         22         22          0               3.0
50878                    0         27         27          0               3.0
50879                    0         63         63          0               2.0
50880                    1         71         49          0               2.0
50881                    0         24         24          0               3.0

      Holding_Policy_Duration  Holding_Policy_Type  Reco_Policy_Cat  \
0                          15                  3.0               22
1                         1.0                  3.0               22
2                         1.0                  1.0               19
3                          15                  3.0               19
4                         3.0                  1.0               16
...                       ...                  ...              ...
50877                     1.0                  3.0               18
50878                     7.0                  3.0                4
50879                      15                  1.0               12
50880                     2.0                  2.0               16
50881                     2.0                  3.0               18

       Reco_Policy_Premium  Response
0                  11628.0         0
1                  30510.0         0
2                   7450.0         1
3                  17780.0         0
4                  10404.0         0
...                    ...       ...
50877               7704.0         0
50878               5408.0         0
50879              11374.0         0
50880              28179.2         1
50881              11424.0         0

[50882 rows x 15 columns]

In [7]:
data

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,1.0,3.0,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,X1,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,C4,845,Rented,Individual,22,22,No,X3,1.0,3.0,18,7704.0,0
50878,50879,C5,4188,Rented,Individual,27,27,No,X3,7.0,3.0,4,5408.0,0
50879,50880,C1,442,Rented,Individual,63,63,No,X2,14+,1.0,12,11374.0,0
50880,50881,C1,4,Owned,Joint,71,49,No,X2,2.0,2.0,16,28179.2,1
50881,50882,C3,3866,Rented,Individual,24,24,No,X3,2.0,3.0,18,11424.0,0

In [8]:
#description of our training data 

data.describe()

,ID,Region_Code,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
count,50882.000000,50882.000000,50882.000000,50882.000000,50882.000000,50882.000000,50882.000000,50882.000000
mean,25441.500000,1732.788707,44.856275,42.738866,2.662415,15.115188,14183.950069,0.239947
std,14688.512535,1424.081652,17.310271,17.319375,0.841994,6.340663,6590.074873,0.427055
min,1.000000,1.000000,18.000000,16.000000,1.000000,1.000000,2280.000000,0.000000
25%,12721.250000,523.000000,28.000000,27.000000,2.000000,12.000000,9248.000000,0.000000
50%,25441.500000,1391.000000,44.000000,40.000000,3.000000,17.000000,13178.000000,0.000000
75%,38161.750000,2667.000000,59.000000,57.000000,3.000000,20.000000,18096.000000,0.000000
max,50882.000000,6194.000000,75.000000,75.000000,4.000000,22.000000,43350.400000,1.000000

In [6]:
#assigning target
y = data.Response

In [7]:
#pre-processing the 2 columns which are combination of str+int,as one-hot decoder cant be applied to these

print(data['Health Indicator'].value_counts())

data["Holding_Policy_Duration"].value_counts()

X1    13010
X2    10332
X3     6762
X4     5743
X5     1727
X6     1280
X7      196
X8       78
X9       63
Name: Health Indicator, dtype: int64

1.0     4499
14+     4335
2.0     4260
3.0     3586
4.0     2771
5.0     2362
6.0     1894
7.0     1645
8.0     1316
9.0     1114
10.0     813
11.0     546
12.0     513
13.0     511
14.0     466
Name: Holding_Policy_Duration, dtype: int64

In [8]:
#pre-processing the 2 columns which are combination of str+int,as one-hot decoder cant be applied to these

data['Health Indicator'].replace({"X1":1,"X2":2,"X3":3,"X4":4,"X5":5,"X6":6,"X7":7,"X8":8,"X9":9},inplace=True)

data['Holding_Policy_Duration'].replace({"14+":"15"},inplace=True)
#need to replace string with float
data['Holding_Policy_Duration'].replace({"15":int("15")},inplace=True)

In [16]:
data = data.reset_index()

In [13]:
data

,index,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,0,1,C3,3213,Rented,Individual,36,36,No,1,15,3.0,22,11628.0,0
1,1,2,C5,1117,Owned,Joint,75,22,No,2,1.0,3.0,22,30510.0,0
2,2,3,C5,3732,Owned,Individual,32,32,No,1,1.0,1.0,19,7450.0,1
3,3,4,C24,4378,Owned,Joint,52,48,No,1,15,3.0,19,17780.0,0
4,4,5,C8,2190,Rented,Individual,44,44,No,2,3.0,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50877,50878,C4,845,Rented,Individual,22,22,No,3,1.0,3.0,18,7704.0,0
50878,50878,50879,C5,4188,Rented,Individual,27,27,No,3,7.0,3.0,4,5408.0,0
50879,50879,50880,C1,442,Rented,Individual,63,63,No,2,15,1.0,12,11374.0,0
50880,50880,50881,C1,4,Owned,Joint,71,49,No,2,2.0,2.0,16,28179.2,1
50881,50881,50882,C3,3866,Rented,Individual,24,24,No,3,2.0,3.0,18,11424.0,0

#One hot encoding

In [17]:
# Import label encoder 

from sklearn import preprocessing
# label_encoder object knows how to understand word labels. 

label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'Country'. 

data['City_Code']= label_encoder.fit_transform(data['City_Code'])
data['Accomodation_Type']= label_encoder.fit_transform(data['Accomodation_Type'])
data['Reco_Insurance_Type']= label_encoder.fit_transform(data['Reco_Insurance_Type'])
data['Is_Spouse']= label_encoder.fit_transform(data['Is_Spouse'])



print(data.head())

#Defining Features AS x

x = data[["City_Code","Region_Code",
                 "Accomodation_Type","Reco_Insurance_Type","Upper_Age",
                 "Lower_Age","Is_Spouse","Health Indicator","Holding_Policy_Duration",
                 "Holding_Policy_Type","Reco_Policy_Cat","Reco_Policy_Premium"]]

   level_0  index  ID  City_Code  Region_Code  Accomodation_Type  \
0        0      0   1         22         3213                  1
1        1      1   2         31         1117                  0
2        2      2   3         31         3732                  0
3        3      3   4         16         4378                  0
4        4      4   5         34         2190                  1

   Reco_Insurance_Type  Upper_Age  Lower_Age  Is_Spouse  Health Indicator  \
0                    0         36         36          0               1.0
1                    1         75         22          0               2.0
2                    0         32         32          0               1.0
3                    1         52         48          0               1.0
4                    0         44         44          0               2.0

  Holding_Policy_Duration  Holding_Policy_Type  Reco_Policy_Cat  \
0                      15                  3.0               22
1                     1.0                  3.0               22
2                     1.0                  1.0               19
3                      15                  3.0               19
4                     3.0                  1.0               16

   Reco_Policy_Premium  Response
0              11628.0         0
1              30510.0         0
2               7450.0         1
3              17780.0         0
4              10404.0         0

In [20]:
#Building and fitting Random Forest Model

from sklearn.ensemble import RandomForestRegressor

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(x,y)

RandomForestRegressor(random_state=1)

In [22]:
#making predictings on training data

prediction_train = forest_model.predict(x)
print(prediction_train)

[0.17 0.05 0.75 ... 0.11 0.69 0.07]

In [23]:
#calculating the mean error 

from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y, prediction_train))

0.12426535906607446

In [24]:
#loading testing data

test= pd.read_csv(r"C:\Users\Shelvi Garg\Desktop\Code\data-science\JOBATHON 1\TEST.csv")
test.shape

(21805, 13)

In [25]:
test.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,C1,156,Owned,Individual,30,30,No,NaN,6.0,3.0,5,11934.0
1,50884,C4,7,Owned,Joint,69,68,Yes,X1,3.0,3.0,18,32204.8
2,50885,C1,564,Rented,Individual,28,28,No,X3,2.0,4.0,17,9240.0
3,50886,C3,1177,Rented,Individual,23,23,No,X3,3.0,3.0,18,9086.0
4,50887,C1,951,Owned,Individual,75,75,No,X3,NaN,NaN,5,22534.0

In [26]:
#Processing Test data to replace NaN Values

for i in range(12):
     (test.iloc[:,i]).fillna(test.iloc[:,i].mode().iloc[0],inplace=True)

print(test)
test.shape

          ID City_Code  Region_Code Accomodation_Type Reco_Insurance_Type  \
0      50883        C1          156             Owned          Individual
1      50884        C4            7             Owned               Joint
2      50885        C1          564            Rented          Individual
3      50886        C3         1177            Rented          Individual
4      50887        C1          951             Owned          Individual
...      ...       ...          ...               ...                 ...
21800  72683        C3         1044             Owned          Individual
21801  72684        C4          266             Owned          Individual
21802  72685       C12         2470             Owned          Individual
21803  72686       C10         1676            Rented          Individual
21804  72687        C2         3617             Owned          Individual

       Upper_Age  Lower_Age Is_Spouse Health Indicator  \
0             30         30        No               X1
1             69         68       Yes               X1
2             28         28        No               X3
3             23         23        No               X3
4             75         75        No               X3
...          ...        ...       ...              ...
21800         45         45        No               X1
21801         59         59        No               X5
21802         74         74        No               X3
21803         25         25        No               X4
21804         73         73        No               X2

      Holding_Policy_Duration  Holding_Policy_Type  Reco_Policy_Cat  \
0                         6.0                  3.0                5
1                         3.0                  3.0               18
2                         2.0                  4.0               17
3                         3.0                  3.0               18
4                         14+                  3.0                5
...                       ...                  ...              ...
21800                     4.0                  1.0               18
21801                     6.0                  3.0               18
21802                     14+                  3.0                1
21803                     3.0                  1.0               19
21804                     14+                  2.0                3

       Reco_Policy_Premium
0                  11934.0
1                  32204.8
2                   9240.0
3                   9086.0
4                  22534.0
...                    ...
21800              15884.0
21801              21390.0
21802              17836.0
21803              11568.0
21804              23040.0

[21805 rows x 13 columns]

(21805, 13)

In [27]:
#pre-processing the 2 columns which are combination of str+int,as one-hot decoder cant be applied to these
#same as for training data
test['Health Indicator'].replace({"X1":1,"X2":2,"X3":3,"X4":4,"X5":5,"X6":6,"X7":7,"X8":8,"X9":9},inplace=True)

test['Holding_Policy_Duration'].replace({"14+":"15"},inplace=True)
test['Holding_Policy_Duration'].replace({"15":int("15")},inplace=True)

In [28]:
#One-hot-encoder

# Import label encoder 

from sklearn import preprocessing
# label_encoder object knows how to understand word labels. 

label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'Country'. 

test['City_Code']= label_encoder.fit_transform(test['City_Code'])
test['Accomodation_Type']= label_encoder.fit_transform(test['Accomodation_Type'])
test['Reco_Insurance_Type']= label_encoder.fit_transform(test['Reco_Insurance_Type'])
test['Is_Spouse']= label_encoder.fit_transform(test['Is_Spouse'])

In [24]:
test.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,0,156,0,0,30,30,0,1,6.0,3.0,5,11934.0
1,50884,30,7,0,1,69,68,1,1,3.0,3.0,18,32204.8
2,50885,0,564,1,0,28,28,0,3,2.0,4.0,17,9240.0
3,50886,22,1177,1,0,23,23,0,3,3.0,3.0,18,9086.0
4,50887,0,951,0,0,75,75,0,3,15,3.0,5,22534.0

In [25]:
test.shape

(21805, 13)

In [26]:
test.columns

Index(['ID', 'City_Code', 'Region_Code', 'Accomodation_Type',
       'Reco_Insurance_Type', 'Upper_Age', 'Lower_Age', 'Is_Spouse',
       'Health Indicator', 'Holding_Policy_Duration', 'Holding_Policy_Type',
       'Reco_Policy_Cat', 'Reco_Policy_Premium'],
      dtype='object')

In [29]:
#filtering columns we need to provide to predict

test_data= test[["City_Code","Region_Code",
                 "Accomodation_Type","Reco_Insurance_Type","Upper_Age",
                 "Lower_Age","Is_Spouse","Health Indicator","Holding_Policy_Duration",
                 "Holding_Policy_Type","Reco_Policy_Cat","Reco_Policy_Premium"]]

In [30]:
#predicting
test_prediction = forest_model.predict(test_data)

In [31]:
test_prediction

array([0.39, 0.36, 0.36, ..., 0.  , 0.25, 0.04])

In [32]:
#length of resultant array;

len(test_prediction)

21805

In [33]:
#converting result array to pandas dataframe and finally to CSV as to save for submission

pd.DataFrame(test_prediction).to_csv(r"C:\Users\Shelvi Garg\Desktop\Code\data-science\result2.csv")

In [35]:
result_data = pd.read_csv(r"C:\Users\Shelvi Garg\Desktop\Code\data-science\result2.csv")

In [36]:
print(result_data)

       Unnamed: 0     0
0               0  0.39
1               1  0.36
2               2  0.36
3               3  0.18
4               4  0.16
...           ...   ...
21800       21800  0.09
21801       21801  0.15
21802       21802  0.00
21803       21803  0.25
21804       21804  0.04

[21805 rows x 2 columns]

In [37]:
result_data.isnull().values.any()

False

In [38]:
result_data.shape

(21805, 2)